*{
    box-sizing: border-box;
}

tr{
    border-bottom: 1px solid rgba(255,255,255,.3);
	padding: 10px 0;

    display: flex;
    align-items: center;
}

tr:hover{
	background-color: rgba(255,255,255,.1);
}

td:nth-child(1){
	width: 24px;
    justify-content: start;
}

td:nth-child(3){
    display: flex;
	width: 72px;
	justify-content: center;
    align-items: center;
}

td:nth-child(2){
	cursor: default;
    width: 264px;
}

td:nth-child(4){
	width: 36px;
}

tr.done td:nth-child(2){
	text-decoration: line-through;
}

input[type=checkbox]{
	cursor: pointer;
}

tr i{
	cursor: pointer;
	font-size: 24px;
	opacity: .8;
}

tr i:hover{
	opacity: 1;
}